@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900;
    @apply text-slate-400;
    @apply text-base;
    @apply scroll-smooth;
  }

  ::selection {
    @apply bg-slate-700;
    @apply text-slate-200;
  }

  p {
    @apply mb-4;
    @apply text-pretty;
  }

  section {
    @apply mx-auto;
    @apply py-[100px];
    @apply max-w-[900px];
  }

  .section {
    counter-increment: section 1;
  }

  .styled-header {
    @apply fixed;
    @apply top-0;
    @apply px-12;
    @apply flex;
    @apply justify-between;
    @apply items-center;
    @apply bg-slate-900/85;
    @apply backdrop-blur-md;
    @apply transition-all;
    @apply ease-linear;
    @apply w-full;
    @apply h-[100px];
    @apply z-20;
  }

  .styled-header.scrolled {
    @apply h-[70px];
    @apply translate-y-0;
    @apply shadow-xl;
  }

  .styled-nav {
    @apply relative;
    @apply flex;
    @apply justify-between;
    @apply items-center;
    @apply font-mono;
    @apply text-sm;
    @apply w-full;
    @apply z-10;
    counter-reset: item 0;
  }

  .styled-nav .nav-links ol {
    @apply flex;
    @apply justify-between;
    @apply items-center;
  }

  .styled-nav .nav-links .nav-link {
    @apply relative;
    @apply mx-2;
    counter-increment: item 1;
  }

  .styled-nav .nav-links .nav-link a {
    @apply text-slate-300;
    @apply p-2;
    @apply text-sm;
    @apply transition-colors;
    @apply ease-in-out;
    @apply duration-300;
  }

  .styled-nav .nav-links .nav-link a:hover {
    @apply text-teal-400;
  }

  .styled-nav .nav-links .nav-link a::before {
    content: "0" counter(item) ".";
    @apply mr-2;
    @apply text-teal-400;
    @apply text-xs;
  }

  .micro-animated-link::after {
    content: "";
    @apply absolute;
    @apply left-0;
    @apply bottom-0;
    @apply w-0;
    @apply h-[1px];
    @apply bg-teal-400;
    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
  }

  .micro-animated-link:hover::after {
    @apply w-full;
  }

  .counting-heading::before {
    content: "0" counter(section) ".";
    @apply relative;
    @apply mr-2;
    @apply -bottom-1;
    @apply text-teal-400;
    @apply font-mono;
    @apply font-normal;
    @apply text-xl;
  }

  .counting-heading::after {
    content: "";
    @apply block;
    @apply -top-1;
    @apply ml-5;
    @apply bg-slate-800;
    @apply flex-grow;
    @apply h-[1px];
  }

  .section-hero {
    @apply min-h-screen;
    @apply pb-0;
  }

  .section-hero h1 {
    @apply mb-8;
    @apply ml-1;
    @apply text-teal-400;
    @apply font-mono;
    @apply text-lg;
    @apply font-normal;
  }

  .section-hero h2 {
    @apply text-slate-300;
    @apply text-6xl;
    @apply font-bold;
  }

  .section-hero h3 {
    @apply mt-2;
    @apply text-slate-400;
    @apply text-6xl;
    @apply font-bold;
  }

  .section-col-2 .inner {
    @apply grid;
    @apply gap-12;
    grid-template-columns: 3fr 2fr;
  }

  .styled-picture {
    @apply relative;
    @apply max-w-[300px];
    @apply aspect-square;
  }

  .styled-picture .wrapper {
    @apply relative;
    @apply bg-teal-400;
    @apply rounded-[4px];
    @apply w-full;
    @apply h-full;
  }

  .styled-picture .wrapper::before {
    content: "";
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply bg-slate-900;
    @apply mix-blend-screen;
    @apply rounded-[4px];
    @apply w-full;
    @apply h-full;
  }

  .styled-picture .wrapper::after {
    content: "";
    @apply absolute;
    @apply top-3;
    @apply left-3;
    @apply border-2;
    @apply border-teal-400;
    @apply rounded-[4px];
    @apply w-full;
    @apply h-full;
    @apply -z-[1];
  }

  .styled-picture .wrapper img {
    @apply mix-blend-multiply;
    @apply grayscale;
    @apply contrast-100;
    @apply object-cover;
    @apply rounded-[4px];
    @apply w-full;
    @apply h-full;
  }

  .skills-list {
    @apply grid;
    @apply list-none;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    @apply mt-5;
  }

  .skills-list li {
    @apply flex;
    @apply items-center;
    @apply gap-2;
    @apply font-mono;
    @apply text-xs;
    @apply mb-2;
  }

  .skills-list li svg {
    @apply text-teal-400;
    @apply h-3;
    @apply w-3;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
